<div class="main">
    <div class="sidebar">
        <div class="font">Nasdaq</div>
        <input type="text" name="search" id="search" placeholder="Type here to search">
        <div class="listCompanies">
            <b>sdfghjfdsdfgh</b><br>
            <b>sdfghjfdsdfgh</b><br>
            <b>sdfghjfdsdfgh</b><br>
            <b>sdfghjfdsdfgh</b><br>
            <b>sdfghjfdsdfgh</b><br>
            <b>sdfghjfdsdfgh</b><br>
            <b>sdfghjfdsdfgh</b><br>
            <b>sdfghjfdsdfgh</b><br>
            <b>sdfghjfdsdfgh</b><br>
        </div>
    </div>

    <div class="appbody">
        <div class="heading font">
            <div>SVSTR</div>
            <div>
                From:<input type="date" class="font"/>
                To:<input type="date" class="font"/>
            </div>
        </div>
        <div class="trend">
            <select name="" id="" >
                <option value="">Closing Price</option>
                <option value="">Adj. Closing Price</option>
            </select>
        </div>
    </div>
</div>
